.header
	position: relative
	overflow: hidden
	width: 100%
	height: 100vh
	background: linear-gradient(180deg, #023044 0%, #005459 65.1%, #023044 100%)
	.h1
		position: relative
		margin: 20vh 0 0
		z-index: 1
	#borsch
		top: -21vh
		right: -9vw
	#plow
		top: 5vh
		left: -12vw
	#petro
		top: -4vh
		left: 32vw
	#tomato
		bottom: 17vh
		left: -3vw
	#rizotto
		bottom: 7vh
		right: 2vw
	#mint1
		top: 26vh
		right: 2vw
	#mint2
		bottom: 11vh
		right: -2vw
	#green
		top: 13vh
		left: 14vw
		z-index: 2
.bg-image
	position: absolute

.header-sec
	position: relative
	overflow-x: hidden
	width: 100%
	.top-menu
		background-color: #023044

.top-menu, .top-nav-mobile, .top-nav-mobile-sec
	position: fixed
	left: 0
	top: 0
	width: 100%
	height: 60px
	padding: 15px 0
	z-index: 99
	.logo
		display: inline-block
		img
			height: 30px
.top-nav-mobile, .top-nav-mobile-sec
	display: none
	justify-content: space-between
	height: 60px
	.logo
		margin-left: 30px
	.toggle-menu
		margin-right: 30px
		cursor: pointer
.top-nav-mobile-sec
	background: #023044
.nav
	ul
		display: flex
		justify-content: space-around
		margin: 0
		padding: 0
		li
			display: block
			a
				display: block
				color: #fff
				text-transform: uppercase
				text-decoration: none
				font-size: 14px
				&::after
					content: ''
					display: block
					margin: auto
					transform: translateY(2px) scale(0)
					height: 1px
					background-color: #fff
					transition: all ease .2s
				&:hover
					&::after
						transform: translateY(2px) scale(1)
			&.active
				a
					&::after
						content: ''
						display: block
						margin: auto
						transform: translateY(2px)
						height: 2px
						background-color: #fff

.fill
	background-color: #023044
	transition: all .5s

.mobile-menu
	position: fixed
	flex-direction: column
	justify-content: space-between
	text-align: center
	top: 0
	left: 0
	bottom: 0
	right: 0
	background: #023044
	z-index: 99
	padding: 15px 30px
	display: none
	&_active
		display: flex
	.mhead
		position: relative
		display: flex
		justify-content: space-between
		align-items: center
		width: 100%
		.logo
			img
				display: inline-block
				height: 30px
		.close-menu
			cursor: pointer
	.mobile-nav
		ul
			list-style: none
			margin: 0
			padding: 0
			li
				margin: 2.5vh 0
				a
					color: #fff
					text-transform: uppercase
					font-size: 5vh
					margin: 0
					padding: 0
	.phone
		padding: 0 0 40px
		margin: 0


.contact-block
	position: absolute
	width: 100%
	text-align: center
	bottom: 0
	left: 0
	.label
		width: 100px
	.phone
		padding: 2vh 0 5vh
