.header
	position: relative
	overflow-x: hidden
	width: 100%
	height: 100vh
	background: linear-gradient(180deg, #023044 0%, #005459 65.1%, #023044 100%)
	.h1
		position: relative
		margin: 20vh 0 0
		z-index: 1
	#borsch
		top: -21vh
		right: -9vw
	#plow
		top: 5vh
		left: -12vw
	#petro
		top: -4vh
		left: 32vw
	#tomato
		bottom: 17vh
		left: -3vw
	#rizotto
		bottom: 7vh
		right: 2vw
	#mint1
		top: 26vh
		right: 2vw
	#mint2
		bottom: 11vh
		right: -2vw
	#green
		top: 13vh
		left: 14vw
		z-index: 2
.bg-image
	position: absolute

.header-sec
	position: relative
	overflow-x: hidden
	width: 100%
	.top-menu
		background-color: #023044

.top-menu
	position: fixed
	left: 0
	top: 0
	width: 100%
	height: 60px
	padding: 15px 0
	z-index: 99
	.logo
		display: inline-block
		img
			height: 30px

.nav
	ul
		display: flex
		justify-content: space-around
		margin: 0
		padding: 0
		li
			display: block
			a
				display: block
				color: #fff
				text-transform: uppercase
				text-decoration: none
				font-size: 14px
				&::after
					content: ''
					display: block
					margin: auto
					transform: translateY(2px) scale(0)
					height: 1px
					background-color: #fff
					transition: all ease .2s
				&:hover
					&::after
						transform: translateY(2px) scale(1)
			&.active
				a
					&::after
						content: ''
						display: block
						margin: auto
						transform: translateY(2px)
						height: 2px
						background-color: #fff

.fill
	background-color: #023044
	transition: all .5s

.contact-block
	position: absolute
	width: 100%
	text-align: center
	bottom: 0
	left: 0
	.label
		width: 100px
	.phone
		padding: 2vh
