.mission
  background: #023044
  padding: 18vh 0
  .mission-text
    padding: 30px 0
    border-top: 1px solid #32C832
    border-bottom: 1px solid #32C832
    font-weight: 200
    font-size: 48px
    line-height: 122%
    text-align: center
    #mint3
      bottom: -28px
      right: 236px
