.opt-clients
  position: relative
  padding: 12vh 0
  #petro3
    top: -44px
    right: 129px
  #garlic
    top: 371px
    right: 30px
  #tomato2
    top: 84px
    left: 0

.contact-button
  margin: 4vh 0
  text-align: center
  img
    margin-bottom: 1vh
