.opt-clients
  position: relative
  padding: 12vh 0
  #petro3
    top: -4vh
    right: 9vw
  #garlic
    bottom: 8vh
    right: 3vw
  #tomato2
    top: 8vh
    left: 0

.contact-button
  margin: 4vh 0
  text-align: center
  img
    width: 44px
    margin-bottom: 1vh
  a
    color: #fff
