.production
	position: relative
	overflow-x: hidden
	padding: 12vh 0
	#petro1
		top: 6vh
		left: 12vw
	#tomato1
		top: 9vh
		right: -3vw
	#petro2
		bottom: 7vh
		left: 3vw

.product-slider_wrap
	width: 100%
	background: #023044
	margin-top: 4vh
	padding: 3vh 0
	.prod-slider
		.owl-nav
			position: relative
			width: 100%
			margin-top: 0
			transform: translateY(-180px)
			.owl-prev
				position: absolute
				left: 30px
				font-size: 36px
			.owl-next
				position: absolute
				right: 30px
				font-size: 36px
	.product-item
		display: block
		text-align: center
		text-decoration: none
		color: #fff
		margin: 10px 0
		.images
			position: relative
			width: 286px
			height: 260px
			margin: auto
			.prodimg-1
				display: block
				position: absolute
				width: 180px
				top: 15px
				left: 15px
				transition: all ease .2s
			.prodimg-2
				display: block
				position: absolute
				width: 180px
				bottom: 15px
				right: 15px
				transition: all ease .2s
			.newprod
				width: 156px
				position: absolute
				bottom: 10px
				left: 30px
		.item-name
			display: inline-block
			&::after
				content: ''
				display: block
				margin: auto
				transform: translateY(3px) scale(0)
				height: 2px
				background-color: #fff
				transition: all ease .2s
		&:hover
			.images
				.prodimg-1
					transform: translate(-3%, -3%)
				.prodimg-2
					transform: translate(3%, 3%)
			.item-name
				&::after
					transform: translateY(3px) scale(1)

