body
	width: 100%
	height: 100%
	margin: 0
	padding: 0
	font-family: 'Montserrat', sans-serif
	font-size: 16px
	min-width: 320px
	color: #fff
	background-image: url(../img/craft-texture2.png)

.b-text
	color: #000
	line-height: 114%

.wrapper
	width: 100%

a
	color: #fff
	&:hover
		color: #fff

.h1
	font-size: 90px
	font-weight: 200
	color: #fff
	text-transform: uppercase
	letter-spacing: 0.045em
	line-height: 112%

.h2-b
	margin: 0
	padding-bottom: 5vh
	font-weight: 900
	font-size: 24px
	text-transform: uppercase
	color: #000000
	text-align: center

.h2-w
	margin: 0
	padding-bottom: 5vh
	font-weight: 900
	font-size: 24px
	text-transform: uppercase
	color: #ffffff
	text-align: center

.h3
	font-size: 16px
	color: #000000
	text-align: center
	line-height: 114%

.h4
	margin-top: 12vh
	margin-bottom: 3vh
	font-weight: normal
	font-size: 18px
	color: #000000
	text-align: center

.img-response
	display: block
	width: 100%

.relative
	position: relative

.base-btn
	width: 100%
	text-align: center
	text-decoration: none !important
	display: block
	background: #023044
	border-radius: 30px
	padding: 7px 35px 10px
	transition: all .2s
	&:hover
		background: #000000
		transform: translateY(-2px)

@import header
@import about
@import mission
@import production
@import wherebuy
@import optclients
@import footer
@import catalog
